.item {
  flex: 1 1 20%;
  margin-right: 20px;
  place-items: center;
  opacity: 1;
  transition: all 0.3s 0.08s ease-in-out;
}

.item img:hover {
  opacity: 0.6;
  position: relative;
  bottom: 5px;
  left: 0;
  transition: all 0.2s 0.05s ease-in-out;
  cursor: pointer;
}
