.item {
  flex: 1 1 20%;
  padding: 10px;
  /* margin-right: 20px; */
  place-items: center;
}

.item img {
  width: 200px;
  /* opacity: 0.6; */
}

.item img:hover {
  opacity: 1;
  position: relative;
  bottom: 2px;
  left: 0;
  /* border-radius: 50%; */
  transition: all 0.2s 0.02s ease-in-out;
  cursor: pointer;
}
