.App {
  text-align: center;
}

.App-heading {
  font-weight: 200;
  font-size: 5em;
  padding: 0;
  margin: 15px 0 50px;
}

.backBtn {
  padding: 12px 35px;
  border: none;
  border-radius: 4px;
  background-color: #0bc4e2;
  color: white;
}

.backBtn:hover {
  background-color: #0bb0c9;
  cursor: pointer;
}
